//////////////////////////////////////////////////////////////////////////
// LOGO
.logo {
	height: 3.25rem;
	margin-left: 2rem;
}

//////////////////////////////////////////////////////////////////////////
// SEARCH
.search {
	display: flex;
	flex: 0 0 40%;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $bp-smallest) {
		order: 1;
		flex: 0 0 100%;
		background-color: var(--color-grey-light-2);
	}

	&__input {
		width: 90%;
		font-family: inherit;
		font-size: inherit;
		background-color: var(--color-grey-light-2);
		color: inherit;
		border: none;
		padding: .7rem 2rem;
		border-radius: 100px;
		transition: all .2s;
		margin-right: -3.5rem;
		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}
		&::-webkit-input-placeholder {
			color: var(--color-grey-light-4);
		}
	}

	&__input:focus ~ &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);
		transition: all .2s;
		align-self: center;
		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}

//////////////////////////////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
	display: flex;
	align-items: center;
	align-self: stretch;

	& > * {
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__icon-box {
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
		position: relative;
	}

	&__notification {
		font-size: .8rem;
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 50%;
		background-color: var(--color-primary);
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 1.5rem;
		right: 1.1rem;
	}

	&__user-photo {
		height: 3.75rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}

//////////////////////////////////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	@media only screen and (max-width: $bp-medium) {
		display: flex;
		margin-top: 0;
		justify-content: space-between;
	}

	@media only screen and (max-width: $bp-small) {
		display: flex;
		margin-top: 0;
		justify-content: space-around;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: .5rem;
			@media only screen and (max-width: $bp-medium) {
				margin-bottom: 0;
			}
		}

		&::before {
			content: "";
			// display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: var(--color-primary);
			transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
			transform: scaleY(0);
		}
	}
	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}

	&__item:active::before {
		background-color: var(--color-primary-light);
	}

	&__link:link,
	&__link:visited {
		color: var(--color-grey-light-1);
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		display: flex;
		align-items: center;
		position: relative;

		span {
			z-index: 10;
		}

		@media only screen and (max-width: $bp-small) {
			flex-direction: column;
			padding: 1.5rem 1.5rem;
		}
	}
	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;
		fill: currentColor;

		@media only screen and (max-width: $bp-small) {
			margin-right: 0;
			margin-bottom: 7px;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

//////////////////////////////////////////////////////////////////////////
// LEGAL TEXT
.legal {
	font-size: 1.2rem;
	color: var(--color-grey-light-4);
	text-align: center;
	padding: 2.5rem;

	@media only screen and (max-width: $bp-medium) {
		display: none;
	}
}

//////////////////////////////////////////////////////////////////////////
// GALLERY

.gallery {
	display: flex;

	&__photo {
		width: 100%;
		display: block;
	}
}

//////////////////////////////////////////////////////////////////////////
// OVERVIEW
.overview {
	display: flex;
	border-bottom: 1px solid var(--color-grey-light-2);
	align-items: center;
	&__heading {
		font-size: 2.25rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.5rem 3rem;

		@media only screen and (max-width: $bp-small) {
			font-size: 1.8rem;
			padding: 1.25rem 2rem;
		}
	}

	&__stars {
		margin-right: auto;
		display: flex;
	}
	&__icon-star,
	&__icon-location {
		width: 1.75rem;
		height: 1.75rem;
		fill: var(--color-primary);
	}
	&__location {
		font-size: 1.2rem;
		display: flex;
		align-items: center;
	}
	&__icon-location {
		margin-right: .5rem;
	}
	&__rating {
		background-color: var(--color-primary);
		color: #fff;
		margin-left: 3rem;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 2.2rem;

		@media only screen and (max-width: $bp-small) {
			padding: 0 1.5rem;
		}
	}
	&__rating-average {
		font-size: 2.25rem;
		font-weight: 300;
		margin-bottom: -3px;

		@media only screen and (max-width: $bp-small) {
			font-size: 1.8rem;
		}
	}
	&__rating-count {
		font-size: .8rem;

		@media only screen and (max-width: $bp-small) {
			font-size: .5rem;
		}
	}
}

//////////////////////////////////////////////////////////////////////////
// BUTTON INLINE

.btn-inline {
	border: none;
	color: var(--color-primary);
	font-size: inherit;
	border-bottom: 1px solid currentColor;
	padding: 2px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	transition: all .2s;
	span {
		margin-right: 3px;
		transition: margin-left .2s;
	}
	&:hover span {
		margin-left: 8px;
	}
	&:hover {
		color: var(--color-grey-dark-1);
	}
	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
	}
	100% {
		transform: scale(1);
		box-shadow: none;
	}
}

//////////////////////////////////////////////////////////////////////////
// paragraph

.paragraph:not(:last-of-type) {
	margin-bottom: 2rem;
}

//////////////////////////////////////////////////////////////////////////
// LIST
.list {
	list-style: none;
	margin: 3rem 0;
	padding: 3rem 0;
	border-top: var(--line);
	border-bottom: var(--line);
	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 50%;
		margin-bottom: .7rem;

		&::before {
			content: '';
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin-right: .7rem;

			//older browsers
			background-image: url(../img/chevron-thin-right.svg);
			background-image: cover;

			// newer browsers -masks
			@supports (-webkit-mask-image: url()) or (mask-image: url()) {
				background-color: var(--color-primary);
				-webkit-mask-image: url(../img/chevron-thin-right.svg);
				-webkit-mask-size: cover;
				mask-image: url(../img/chevron-thin-right.svg);
				mask-size: cover;
				background-image: none;
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////
// RECOMMEND

.recommend {
	display: flex;
	font-size: 1.3rem;
	color: var(--color-grey-dark-3);
	align-items: center;

	&__count {
		margin-right: auto;
	}

	&__friends {
		display: flex;
	}

	&__photo {
		box-sizing: content-box;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		border: 3px solid white;

		&:not(:last-child) {
			margin-right: -2rem;
		}
	}
}

//////////////////////////////////////////////////////////////////////////
// RECOMMEND

.review {
	background-color: #fff;
	box-shadow: var(--shadow-light);
	padding: 3rem;
	margin-bottom: 3.5rem;
	position: relative;
	overflow: hidden;

	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
		margin-bottom: 3rem;
	}

	&::before {
		content: "\201C";
		position: absolute;
		top: -2.75rem;
		left: -1rem;
		font-size: 20rem;
		color: var(--color-grey-light-2);
		line-height: 1;
		font-family: sans-serif;
		z-index: 1;
	}
	&__text {
		margin-bottom: 2rem;
		position: relative;
		z-index: 10;
	}
	&__user {
		display: flex;
		align-items: center;
	}
	&__photo {
		height: 4.5rem;
		width: 4.5rem;
		border-radius: 50%;
		margin-right: 1.5rem;
	}
	&__user-box {
		margin-right: auto;
	}
	&__user-name {
		font-size: 1.1rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: .4rem;
	}
	&__user-date {
		font-size: 1rem;
		color: var(--color-grey-dark-3);
	}
	&__rating {
		color: var(--color-primary);
		font-size: 2.2rem;
		font-weight: 300;
	}
}

//////////////////////////////////////////////////////////////////////////
// CALL TO ACTION
.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3.5rem 0;

	@media only screen and (max-width: $bp-medium) {
		padding: 2.5rem 0;
	}

	&__book-now {
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 2.5rem;
	}
}

//////////////////////////////////////////////////////////////////////////
// BUTTON

.btn {
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
	color: #fff;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	& > * {
		display: inline-block;
		height: 100%;
		width: 100%;
		transition: all .2s;
	}

	&__visible {
		padding: 2rem 7.5rem;
	}
	&__invisible {
		position: absolute;
		padding: 2rem 0;
		left: 0;
		top: -100%;
	}
	&:hover {
		background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
	}

	&:hover &__visible {
		transform: translateY(100%);
	}

	&:hover &__invisible {
		top: 0;
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}
